<h5>Add your new album here!</h5>
<form action="/user/<%=current_user.id%>/new_album" method="Post">
  <input type="text" name="title" placeholder="album title">
  <input type="submit" name="submit">
</form>
