<div class ="container">
  <h1> Here you can view all of our albums</h1>
  <%@albums.each do |album|%>
  <ul>
    <li><a href="/albums/<%=album.id%>"><%=album.title%></a></li>
    <li>Owner: <%=album.user.username%>
  </ul>
  <%end%>
</div>
