<div class="container_car">
  <div class="carousel_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>
<div class="carousel">
    <ul class="frames">
<%@album.photos.each do |photo| %>
  
      <li>
        <h2><%=photo.description%></h2>
        <img src="<%=photo.file%>" />
      </li>
      <%end%>
    </ul>
  </div>
 
</div> 

