<div class="container">
  <h1>Create your account here!</h1>
 <form  name="sign_up" action="/create_account" method="post">
    <p><label for="username">Username</label>
    <input type="text" name="username" /></p>
    <p><label for="email">Email</label>
    <input type="text" name="email" /></p>
    <p><label for="password">Password</label>
    <input type="password" name="password" /></p>
    <button id= "signup" type="submit">Sign Up</button>
    <ul id="errors_create"></ul>
  </form>
</div>
