<div class="container">
  <h1>Welcome to Flickr Jr</h1>
 <form action ="/user/login" method="POST">
 <input type="text" name="username" placeholder="username">
 <input type="password" name="password" placeholder="password">
 <input type="submit" action="/login" >
 <input type="submit" name="guest_login" action="/login" value="Login as a guest"> 

</form>

</div>
