<div class="container">
  <h1>Login to your account here!</h1>
  <form action="/login" method="post">
  <input type="text" name="post[email]" placeholder="email" autofocus>
  <input type="password" name="post[password]" placeholder="password"><br>
  <input type="submit" value="Log in">
</form>
</div>
