<div class="container">
  <h1>Welcome to <%=current_user.username%>'s albums page!</h1>
    <h3>Choose from the albums below</h3>
    <ul>
    <%current_user.albums.each do |album|%>
    
      <li><a href="/albums/<%=album.id%>"><%=album.title%></a></li>
      <%end%>
    </ul>
</div>
